body
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper
{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 204, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper .heading
{
    color: white;
    margin-top: 80px;
}
.smile
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80808090;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer
{
    height: 250px;
    background-color: rgb(243, 87, 87);
    clip-path: polygon(50% 75%, 70% 60%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 30% 60%);
    background-attachment: fixed;
}